<div class="container">
	<div class="col-md-6 col-md-offset-3">
<form action="/login" method="post" class="form-horizontal">
   

  <div class="form-group">
    <label class="control-label col-sm-4" for="email">Email</label>
    <div class="col-sm-8">
      <input type='email' class="form-control"  placeholder="Enter email" name="email">
    </div>
  </div>
   <div class="form-group">
    <label class="control-label col-sm-4">Password</label>
    <div class="col-sm-8">
      <input type="password"class="form-control"  placeholder="Password" name="password" >
    </div>
   </div>
   
   <div class="col-sm-3 col-sm-offset-4">
   
      <button class="btn btn-lg btn-primary btn-block" type="submit" >login</button>

   </div>
</form>


 
 </div>
</div>